/* This defines styles and classes used in the book */
body { margin-left: 2%; margin-right: 2%; margin-top: 0%; margin-bottom: 2%; text-align: justify; font-size: medium; }
code { font-family: monospace; }
.auteur {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
/*    position: absolute;
    text-align: center;
    top: 1em;
    margin:0 0 0 -2.5em;*/ }
.licence {
    text-align: center;
    width: 100%;/*
    position: absolute;
    top: 30em;
    margin:0 0 0 -3em;*/ }
h1, h2 {
    font-family: sans-serif; }
h1 { 
    text-align: right; }
hgroup {
    margin: 8 em 0 5em 0; }
.titre { 
    display: block; }
.title { 
   width: 100%;
   text-align: center; }
h1 .title {
    text-align: center;
    margin: -3em 0 0 0; }
h1 .chapter, .licence, .auteur {
    padding: 1em 0;
    border-bottom: 1px solid;
    border-top: 1px solid; }
h1 .part {
    width: 120%;
    text-align: center; }
h2 .chapter {
    padding: 1em 0;
    text-align: center; }
h2 { text-align: left; }
/*span.lettrine {
    text-indent: 0; 
    font-variant: small-caps; }*/
q:before {
    content: "« "; }
q:after {
    content: " »"; }
blockquote {
    font-style: italic;
}
.lettrine:first-letter {
    font-size: 2.2em; /* float: left;*/ }
p {
    text-indent: 2em; }
.hashtag { 
    font-family: sans-serif; }
.epigraphe { 
    margin-bottom: 1em; 
    padding-left: 7em;
    font-size: 0.8em; }
aside {
    border-top: 1px solid; }
.analepse {
    font-weight: bold;
    margin-left: -2em ; }
.addenda {
    font-style: italic; }
.addenda i, .addenda cite {
    font-style: normal; }
/*q {
    display:block;
    padding-left:2em;
    text-indent:-0.5em; }*/

.hashtag { font-family: sans-serif; }
.droit {
    font-style: normal; }
.chiffre-romain {
    font-variant:small-caps;
}
.chiffre-romain sup{
    font-variant:normal;}
.cadre_gris {
    background-color: #DDDDDD;
    margin:1em;
    padding: 0 3em;
    float:top;
    text-indent:0}
.invitation {
    background-color: #DDDDDD;
    margin:0 10em;
    /*padding: 0 3em;
    float:top;*/
    text-indent:0;
    text-align: center;
    border: 1px solid;}
.paroles_musiques {
    margin:0 10em;
    text-indent:0;}
.invitation2 {
    background-color: #DDDDDD;
    text-indent:0;
    width: 30em;
    margin:auto;
    border: 1px solid;
    padding: 1em;}
.bsod {
    background-color: #0011FE;
    color: #FFFFFF;
    font-family: sans-serif;
    text-indent:0;
    font-weight: bold;
    width: 30em;
    margin:auto;
    border: 1px solid;
    padding: 1em;}
.align_droite {
    display: block;
    text-align: right;}
.centrer {
    text-align: center;}

img {
	max-height: 100%;
	max-width: 100%;
}
div {
    text-align:center;
}

/* couleurs juste pour la relecture
abbr {
background-color:yellow;
}
q, blockquote {
background-color: blue;}
i {
background-color: green;}
em {
background-color: purple;}
cite {
color:red;}
.hashtag {
color: blue;}*/
